.DS_Store
backups
db
logs
node_modules
web/certs
web/public/tiles/
web/public/scripts/platform.*
web/public/scripts/maps.*
web/public/scripts/apps.*
web/public/scripts/data.*
web/public/styles/vendor.css
web/public/test.html
env/config.yml